*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

ol,
ul {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 initial;
}

body {
    background-color: #000;
    color: #fff;
    font-family: cursive;
    text-transform: capitalize;
}

h1 {
    text-align: center;
    padding: 7px 0;
    text-decoration: underline;
}

article {
    width: 99%;
    max-width: 900px;
    min-width: 250px;
    padding: 7px 21px;
    margin: 0px auto 7px;
    border-radius: 7px;
}

.special-text--underline {
    display: block;
    text-decoration: underline;
    margin-bottom: 7px;
    font-size: 18px;
}

.m-left--4 {
    margin-left: 1.4rem;
}

code {
    display: inline-block;
    color: yellow;
    text-transform: initial;
    word-break: break-all;
}

dl {
    padding: 7px;
    border: 5px solid #ddd;
    border-radius: 7px;
}

dt {
    padding: 21px 0px 0 9px;
    text-align: left;
    text-transform: uppercase;
}

dd {
    padding: 7px 7px 7px 25px;
    margin: 7px;
    border: 1px solid #aaa;
    border-radius: 7px;
}

dd h2,
.notes h2 {
    color: #080;
}

span.colored {
    color: #4444d6;
    font-weight: 600;
}

pre {
    text-transform: initial;
    font-size: 14px;
}

.notes-header {
    margin: 21px 7px 7px;
}

.notes {
    margin: 7px;
    border-radius: 7px;
    padding: 14px 14px 14px 32px;
    background-color: #dddddd10;
    border-color: transparent;
}

footer a {
    display: block;
    padding: 7px;
    color: #ffe6c8;
    text-transform: initial;
    word-break: break-all;
}